---
layout: securityreports
---



<nav>
  <ul class="report-list">
    {% for post in site.posts %}
    <li class="report-list-li" onclick="displayReport('{{post.title | slugify }}');">
      <time class="report-list-item report-list-time" datetime="{{date.date}}">{{ post.date | date: "%b %-d, %Y" }}</time>
      <div class="report-list-item report-list-title">{{post.title}}</div>
      <div class="report-list-item report-list-icon"><i class="fa fa-fw
        {% if post.state == 'exclamation' %}
          fa-exclamation-circle fa-red
        {% elsif post.state == 'check' %}
          fa-check fa-green
        {% endif %}
        "></i></div>
    </li>
    {% endfor %}
  </ul>
</nav>

{% for post in site.posts %}
<article id="{{post.title | slugify }}" class="report">
  <h1 class="report-title">{{post.title}} <i class="fa fa-fw
    {% if post.state == 'exclamation' %}
      fa-exclamation-circle fa-red
    {% elsif post.state == 'check' %}
      fa-check fa-green
    {% endif %}
    "></i></h1>
  <section class="report-data">
    <time class="report-list-item report-list-time" datetime="{{date.date}}">{{ post.date | date: "%b %-d, %Y" }}</time>
    ●
    {% for tag in post.tags %}
    <a href="#" class="tag-link">#{{tag}}</a>,
    {% endfor %}
    <fieldset class="report-team">
      <legend><i class="fa fa-users"></i> Assigned Team</legend>
      {% for member in post.team %}
        <ul class="report-data-teamlist">
          <li>{{member.name}} — {{member.job}}</li>
        </ul>
      {% endfor %}
    </fieldset>


  </section>
  <section>
    {{post.content}}
  </section>
</article>
{% endfor %}
