---
layout: securityreports
---
<article id="{{page.title | slugify }}" class="report-fullpage">
  <h1 class="report-title">{{page.title}} <i class="fa fa-fw
    {% if page.state == 'exclamation' %}
      fa-exclamation-circle fa-red
    {% elsif page.state == 'check' %}
      fa-check fa-green
    {% endif %}
    "></i></h1>
  <section class="report-data">
    <time class="report-list-item report-list-time" datetime="{{date.date}}">{{ page.date | date: "%b %-d, %Y" }}</time>
    ●
    {% for tag in page.tags %}
    <a href="#" class="tag-link">#{{tag}}</a>,
    {% endfor %}
    <fieldset class="report-team">
      <legend><i class="fa fa-users"></i> Assigned Team</legend>
      {% for member in page.team %}
        <ul class="report-data-teamlist">
          <li>{{member.name}} — {{member.job}}</li>
        </ul>
      {% endfor %}
    </fieldset>


  </section>
  <section>
    {{content}}
  </section>
</article>
